<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940411781893-p9o5v0ed3snuo699bgvo2plsnb177mrn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940411781893-p9o5v0ed3snuo699bgvo2plsnb177mrn</string>
	<key>API_KEY</key>
	<string>AIzaSyDQ3ZD_XHRX-sFP61uXRaXksWlUsyyE8p8</string>
	<key>GCM_SENDER_ID</key>
	<string>940411781893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neel.txt.recognition</string>
	<key>PROJECT_ID</key>
	<string>text-recognition-ios-81a7f</string>
	<key>STORAGE_BUCKET</key>
	<string>text-recognition-ios-81a7f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940411781893:ios:1a9f3a25fe9a63a17aed6c</string>
	<key>DATABASE_URL</key>
	<string>https://text-recognition-ios-81a7f.firebaseio.com</string>
</dict>
</plist>